*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background:  linear-gradient(#0f0f77,#3535ec);
    background-attachment: fixed;
    height: 100vh;
}
.piano-panel{
height: 94px;
background-color: #f71469;
}

.piano-panel img{
    
}


.piano-keys{
    height: 190px;
    background-color: #000000;
}